* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.cursor {
  mix-blend-mode: difference;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  transition: all linear 0.1s;
  position: absolute;
}
#main h1 {
  color: white;
  font-size: 8vw;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
